<div class="row" ng-controller="MasterCtrl">
  <div class="col-lg-4">
      <form ng-submit="postBanner()">
          <div class="form-group">
            <label for="exampleInputEmail1">Banner Image</label>
            <input type="text" class="form-control" ng-model="banner_image" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Image URL" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">fromDate</label>
            <input type="text" class="form-control" ng-model="banner_name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Banner Name" >
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">fromDate</label>
            <input type="text" class="form-control" ng-model="banner_desc" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Banner Desc" >
          </div>
          <!-- <div class="form-group">
              <label for="exampleInputEmail1">fromDate</label>
              <label class="glyphicon glyphicon-asterisk"></label>
               <input type="date" class="form-control"  ng-model="fromDate" required>
          </div> -->
          <!-- <div class="form-group">
            <label for="exampleInputEmail1">toDate </label>
            <label class="glyphicon glyphicon-asterisk"></label>

             <input type="date" class="form-control"  ng-model="toDate" required>
          </div> -->
          <!-- <div class="form-group">
            <label for="exampleInputEmail1">toTime</label>
            <label class="glyphicon glyphicon-asterisk"></label>
            <input type="time" class="form-control" ng-model="toTime" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter toTime" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">fromTime</label>
            <label class="glyphicon glyphicon-asterisk"></label>
            <input type="time" class="form-control" ng-model="fromTime" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter fromTime" required>
          </div>
          <div class="form-group">
            <label for="sel1" >Select Product (select one):</label>
            <label class="glyphicon glyphicon-asterisk"></label>
            <select class="form-control" id="sel1" ng-model="productSelected" ng-change="getproductId(productSelected)">
              <option ng-repeat="products in getProductList"  ng-model="productName">{{products.name}}</option>
            </select>
          </div> -->

          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<!-- <div class="col-lg-4">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Deal ID</th>
        <th>fromDate</th>
        <th>toDate</th>
        <th>toTime</th>
        <th>fromTime</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Category</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="todayDealsList in getTodayDealsList">
        <td><button class="btn btn-xs btn-success" ng-click="deleteTodayDeals(todayDealsList._id)">Delete</button></td>
        <td><button class="btn btn-xs btn-success"ng-click="editTodayDeals(todayDealsList._id,todayDealsList.fromDate,todayDealsList.fromTime,todayDealsList.toDate,todayDealsList.toTime,todayDealsList.product._id)">Edit</button></td>
        <td>{{todayDealsList._id}}</td>
        <td>{{todayDealsList.fromDate}}</td>
        <td>{{todayDealsList.fromTime}}</td>
        <td>{{todayDealsList.toDate}}</td>
        <td>{{todayDealsList.toTime}}</td>
        <td>{{todayDealsList.product._id}}</td>
        <td>{{todayDealsList.product.name}}</td>
        <td>{{todayDealsList.product.cat}}</td>
      </tr>

    </tbody>
    </table>
</div> -->
</div>
