<div class="row"  ng-controller="MasterCtrl">
  <div class="col-lg-4">
      <form ng-submit="postCategory()">
          <div class="form-group">
            <label for="exampleInputEmail1">Category Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="categoryName" placeholder="Enter Category Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Department Id</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="categoryId" placeholder="Enter Department Id">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">isActive</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="categoryIsActive" placeholder="Enter isActive">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="submit" class="btn btn-primary" ng-show="showCategoryButton">Update</button>
    </form>
</div>
<div class="col-lg-4">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Category Is Active</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="categoryList in getCategoriesList">
        <td><button class="btn btn-xs btn-success" ng-click="deleteCategory(categoryList._id)">Delete</button></td>
        <td><button class="btn btn-xs btn-success"ng-click="editCategory(categoryList._id,categoryList.name,categoryList.department._id,categoryList.isActive)">Edit</button></td>
        <td>{{categoryList._id}}</td>
        <td>{{categoryList.name}}</td>
        <td>{{categoryList.isActive}}</td>
      </tr>

    </tbody>
    </table>
</div>
</div>
