<div class="row"  ng-controller="MasterCtrl">
  <div class="col-lg-8">
      <form ng-submit="postCategory()">
          <div class="form-group">
            <label for="exampleInputEmail1">Category Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="categoryName" placeholder="Enter Category Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Department Id</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="categoryId" placeholder="Enter Department Id">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">isActive</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="categoryIsActive" placeholder="Enter isActive">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
