<div class="row"  ng-controller="MasterCtrl">
  <div class="col-lg-8" >
    <table class="table table-bordered" style="text-align:center;">
      <thead>
        <tr>
          <th style="text-align:center;font-size: 16px;">Edit</th>
          <th style="text-align:center;font-size: 16px;">Delete</th>
          <th style="text-align:center;font-size: 16px;">Product ID</th>
          <th style="text-align:center;font-size: 16px;">Product Name</th>
          <!-- <th>Product Description</th> -->
          <th style="text-align:center;font-size: 16px;">Product Category</th>
          <th style="text-align:center;font-size: 16px;">Offered Product</th>
          <th style="text-align:center;font-size: 16px;">Discounted Price</th>
          <!-- <th>Product Image</th>
          <th>Product Image1</th>
          <th>Product Image2</th>
          <th>Product Image3</th>
          <th>Product Quantity</th>
          <th>Product List Price</th>
          <th>Product Sales Price</th> -->
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="productList in getProductList">
        <!-- <td><button class="btn btn-xs btn-success" ng-click="deleteProduct(productList._id)">Delete</button></td> -->
        <!-- <td><button class="btn btn-xs btn-success"ng-click="editProduct(productList._id,productList.name,productList.description,productList.cat,productList.mainImageUrl,productList.quantity,productList.listPrice,productList.salePrice)">Edit</button></td> -->

        <td><i class="fa fa-pencil-square-o fa-2x" style="color: #e40046; cursor:pointer" aria-hidden="true" ng-click="editProduct(productList._id,productList.name,productList.description,productList.cat,productList.mainImageUrl,productList.quantity,productList.listPrice,productList.salePrice)"></i></td>
        <td><i class="fa fa-trash-o fa-2x" style="color: #e40046; cursor:pointer"  ng-click="deleteProduct(productList._id)" aria-hidden="true"></i></td>
        <td>{{productList._id}}</td>
        <td>{{productList.name}}</td>
        <!-- <td>{{productList.description}}</td> -->
        <td>{{productList.cat}}</td>
        <td>{{productList.p1}}</td>
        <td>{{productList.discountedPrice}}</td>
        <!-- <td>{{productList.mainImageUrl}}</td>
        <td>{{productList.s1}}</td>
        <td>{{productList.s2}}</td>
        <td>{{productList.s3}}</td>
        <td>{{productList.quantity}}</td>
        <td>{{productList.listPrice}}</td>
        <td>{{productList.salePrice}}</td>
        <td>{{productList.salePrice}}</td> -->
      </tr>

    </tbody>
    </table>
  </div>
  <div class="col-lg-4" ng-show="showProductButton" style="  border: 4px solid #e40046!important;">
      <form ng-submit="updateProduct()" >
          <div class="form-group">
            <label for="exampleInputEmail1">Product Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="productName" placeholder="Enter Product Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Product description</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="productDescription" placeholder="Enter Product description">
          </div>
          <!-- <div class="form-group">
            <label for="exampleInputEmail1">Product deparment</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="productDepartment" placeholder="Enter Product deparment">
          </div> -->
          <!-- <div class="form-group">
            <label for="exampleInputEmail1">Product Category</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="productCategory" placeholder="Enter Product Category">
          </div> -->
          <div class="form-group">
            <label for="sel1">Select Department (select one):</label>
            <select class="form-control" id="sel1" ng-model="departmentSelected" ng-change="getdepartmentId(departmentSelected)">
              <option ng-repeat="departments in getDepartmentList"  ng-model="categoryName">{{departments.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="sel1">Select Category (select one):</label>
            <select class="form-control" id="sel1" ng-model="categorySelected" ng-change="getCategoryName(categorySelected)">
              <option ng-repeat="category in getCategoriesList"  ng-model="categoryName">{{category.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Product to be listed in Offer</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="productOffer" placeholder="yes/no">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Product Image</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="productImageUrl" placeholder="Enter Product Image Url">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Product Image 1</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="productImageUrl1" placeholder="Enter Product Image Url1">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Product Image 2</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="productImageUrl2" placeholder="Enter Product Image Url2">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Product Image 3</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="productImageUrl3" placeholder="Enter Product Image Url3">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Product quantity</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="productquantity" placeholder="Enter Product quantity">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Product list Price</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="productlistPrice" placeholder="Enter Product listPrice">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Product sale Price</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="productSalePrice" placeholder="Enter Product salePrice">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Product discounted Price</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="discountedPrice" placeholder="Enter Product discountedPrice">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Product instock</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="instock" placeholder="instock yes/no" required>
          </div>
          <div class="form-group" ng-if="productisActive">
            <label for="exampleInputEmail1">Product isActive</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="productisActive" placeholder="Enter isActive true/false">
          </div>

          <button type="submit" class="btn" style="background-color: #e40046;" >Update</button>
          <button type="button" class="btn" style="background-color: #e40046;" ng-click="cancelProduct()" >Cancel</button>
    </form>
</div>



</div>
