<div class="row" ng-controller="MasterCtrl">
  <div class="col-lg-10">
      <table class="table table-bordered">
        <thead style="text-align:center">
        <tr>
          <!-- <th></th>
          <th></th> -->
          <th>User ID</th>
          <th>User Name</th>
          <th>User Phone</th>
          <th>User Email</th>
          <th>Feedbacks</th>
          <!-- <th>Category Is Active</th> -->
        </tr>
      </thead>
      <tbody style="text-align:center">
        <tr ng-repeat="feedback in getAllFeedbacks">
          <!-- <td><button class="btn btn-xs btn-success" ng-click="deleteCategory(categoryList._id)">Delete</button></td> -->
          <!-- <td><button class="btn btn-xs btn-success">Edit</button></td> -->
          <!-- <td><i class="fa fa-pencil-square-o fa-2x" style="color: #e40046; cursor:pointer"  aria-hidden="true" ng-click="editCategory(categoryList._id,categoryList.name,categoryList.department._id,categoryList.isActive)"></i></td>
          <td><i class="fa fa-trash-o fa-2x" style="color: #e40046; cursor:pointer"  ng-click="deleteCategory(categoryList._id)" aria-hidden="true"></i></td> -->
          <td>{{feedback.userID}}</td>
          <td ng-init="userNamesFeeback(feedback.userID)">{{names}}</td>
          <td>{{mobiles}}</td>
          <td>{{emails}}</td>
          <td>{{feedback.feedBackComments}}</td>
          <!-- <td>{{categoryList.isActive}}</td> -->
        </tr>

      </tbody>
      </table>
  </div>
</div>
