<div class="row" ng-controller="MasterCtrl">
  <div class="col-lg-4">
      <form ng-submit="postLocation()">
          <div class="form-group">
            <label for="exampleInputEmail1">Enter Location</label>
            <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="categoryName" placeholder="Enter Category Name" required> -->
            <input type="text" name="zones" id="txtPlaces" data-role="tagsinput" class="form-control" placeholder="Enter Location">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
</div>