

<div class="container-fluid" ng-controller="MasterCtrl">
  <div class="row">


    <div class="col-md-3 col-sm-6">
      <a href="#/userDetails" class="dashboard-block" style="/* z-index: 8; */
    /* float: right; */
    height: 206px;
    position: relative;
    display: block;
    padding: 30px 23px;
    background-color: #eae8e8;
    /* opacity: 0.9; */
    overflow: hidden;
    margin-bottom: 7px;
    width: 500px; border-radius: 5%">
        <div class="rotate">
          <i class="fa fa-users" style="position: absolute;
    left: 0;
    left: auto;
    right: 419px;
    bottom: 0;
    display: block;
    height: 59px;
    font-size: 75px;

      transform: rotate(38deg);
      text-shadow: 1px 0 #ddd;
    text-shadow: 1px 0 #ddd;color: #e40046"></i>
        </div>
        <div class="details" style="font-size: 27px;font-weight: bolder;color: #e40046;font-family: Roboto Condensed">
          <span class="title">Total Users</span>
          <span class="sub" style="float: right;font-size: 100px">{{allusersLength}}</span>
        </div><!--/details-->

      </a><!--/dashboard-block3-->
    </div>

  </div><!--/row-->
    <div class="col-md-3 col-sm-6" style="position: relative;left: 600px;bottom: 228px">
      <a href="#/orderManagement" class="dashboard-block" style="/* z-index: 8; */
    /* float: right; */
    height: 206px;
    position: relative;
    display: block;
    padding: 30px 23px;
    background-color: #eae8e8;
    /* opacity: 0.9; */
    overflow: hidden;
    margin-bottom: 7px;
    width: 500px; border-radius: 5%">
        <div class="rotate">
          <i class="fa fa-list-ol" style="position: absolute;
    left: 0;
    left: auto;
    right: 419px;
    bottom: 0;
    display: block;
    height: 59px;
    font-size: 75px;

      transform: rotate(38deg);
      text-shadow: 1px 0 #ddd;
    text-shadow: 1px 0 #ddd;color: #e40046;
    text-shadow: 1px 0 #ddd; color: #e40046"></i>
        </div>
        <div class="details" style="font-size: 27px;font-weight: bolder;color: #e40046;font-family: Roboto Condensed">
          <span class="title">Total Orders</span>
          <span class="sub" style="float: right;font-size: 100px">{{getAllOrdersListLength}}</span>
        </div><!--/details-->

      </a><!--/dashboard-block3-->
    </div>
    <div class="col-md-3 col-sm-6" style="position:relative;  right: 326px">
      <a href="#/feedbacks" class="dashboard-block" style="/* z-index: 8; */
    /* float: right; */
    height: 206px;
    position: relative;
    display: block;
    padding: 30px 23px;
    background-color: #eae8e8;
    /* opacity: 0.9; */
    overflow: hidden;
    margin-bottom: 7px;
    width: 500px; border-radius: 5%">
        <div class="rotate">
          <i class="fa fa-list-ol" style="position: absolute;
    left: 0;
    left: auto;
    right: 419px;
    bottom: 0;
    display: block;
    height: 59px;
    font-size: 75px;

      transform: rotate(38deg);
      text-shadow: 1px 0 #ddd;
    text-shadow: 1px 0 #ddd;color: #e40046;
    text-shadow: 1px 0 #ddd; color: #e40046"></i>
        </div>
        <div class="details" style="font-size: 27px;font-weight: bolder;color: #e40046;font-family: Roboto Condensed">
          <span class="title">In Progress</span>
          <span class="sub" style="float: right;font-size: 100px">{{getInProgressLength}}</span>
        </div><!--/details-->

      </a><!--/dashboard-block3-->
    </div>
    <div class="col-md-3 col-sm-6" style="position: relative;right: 58px">
      <a href="#/feedbacks" class="dashboard-block" style="/* z-index: 8; */
    /* float: right; */
    height: 206px;
    position: relative;
    display: block;
    padding: 30px 23px;
    background-color: #eae8e8;
    /* opacity: 0.9; */
    overflow: hidden;
    margin-bottom: 7px;
    width: 500px; border-radius: 5%">
        <div class="rotate">
          <i class="fa fa-list-ol" style="position: absolute;
    left: 0;
    left: auto;
    right: 419px;
    bottom: 0;
    display: block;
    height: 59px;
    font-size: 75px;

      transform: rotate(38deg);
      text-shadow: 1px 0 #ddd;
    text-shadow: 1px 0 #ddd;color: #e40046;
    text-shadow: 1px 0 #ddd; color: #e40046"></i>
        </div>
        <div class="details" style="font-size: 27px;font-weight: bolder;color: #e40046;font-family: Roboto Condensed">
          <span class="title">Total Feedbacks</span>
          <span class="sub" style="float: right;font-size: 100px">{{getAllFeedbacksLength}}</span>
        </div><!--/details-->

      </a><!--/dashboard-block3-->
    </div>

  </div><!--/row-->


<hr>
