<div class="row" ng-controller="MasterCtrl">

<div class="col-lg-12">
    <table class="table table-bordered" style="text-align:center">
      <thead>
      <tr style="text-align:center">
        <!-- <th></th>
        <th></th> -->
        <th style="text-align:center">User ID</th>
        <th style="text-align:center">User Name</th>
        <th style="text-align:center">User Email</th>
        <th style="text-align:center">Platform Type</th>
        <th style="text-align:center">Mobile Number</th>
        <th style="text-align:center">Status</th>
        <th style="text-align:center">Change Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="userList in getAllUserList">
        <!-- <td><button class="btn btn-xs btn-success" ng-click="deleteCategory(categoryList._id)">Delete</button></td> -->

        <!-- <td><i class="fa fa-pencil-square-o fa-3x" style="color: #e40046; cursor:pointer" aria-hidden="true" ng-click="editCategory(categoryList._id,categoryList.name,categoryList.department._id,categoryList.isActive)"></i></td>
        <td><i class="fa fa-trash-o fa-3x" style="color: #e40046; cursor:pointer" ng-click="deleteCategory(categoryList._id)" aria-hidden="true"></i></td> -->
        <td>{{userList._id}}</td>
        <td>{{userList.name}}</td>
        <td>{{userList.email}}</td>
        <td ng-if="userList.device_type">{{userList.device_type}}</td>
        <td ng-if="!userList.device_type">WEB</td>
        <td ng-if="userList.mobile_number">{{userList.mobile_number}}</td>
        <td ng-if="!userList.mobile_number">NA</td>
        <!-- <td>{{userList.isactive}}</td> -->
        <td ng-if="userList.isactive">Active</td>
        <td ng-if="!userList.isactive">Inactive</td>
        <td>

            <select ng-model="sel" style="width:160px !important">
                <option ng-selected="true" value="true">Select status</option>
                <option value="true">Active</option>
                <option value="false">Inactive</option>
             </select>

        </td>
        <td><button class="btn btn-xs" style="background-color: #e40046;color:white" ng-disabled="!sel" ng-click="updateUser(userList._id,sel)">Update</button></td>
      </tr>

    </tbody>
    </table>
</div>
</div>
