<div class="container" ng-controller="MasterCtrl">
  <div class="col-md-8">
    <div class="modal-dialog" style="margin-bottom:0">
        <div class="modal-content">
                    <div class="panel-heading">
                        <h3 class="panel-title">Krazy Meals Admin Panel</h3>
                    </div>
                    <div ng-show="erroralert" style="padding-bottom: 12px; color: red; margin: 9px 27px">
                      {{errorMessage}}
                    </div>
                    <div class="panel-body">
                        <form role="form" ng-submit="loginAdmin()">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" ng-model="email" name="email" type="email" autofocus="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" ng-model="password" name="password" type="password" value="">
                                </div>
                                <!-- <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div> -->
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-sm btn-success">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
    </div>
</div>
</div>
