<div class="row" ng-controller="MasterCtrl">
  <div ng-show="loadingIcon" style="text-align:center;  text-align: left;
  background-color: rgba(128, 128, 128, 0.2);
  height: 100%;
  top: 4%;
  width: 100%;
  position: absolute;
  z-index: 20" class="loader-style">
    <img src="img/loader.gif" class="loading-Indicator">
  </div>
  <div class="col-lg-4">
      <form ng-submit="updateDeliveryCost()">
          <div class="form-group">
            <label for="exampleInputEmail1">Minimum Order Value</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="minimumCost" placeholder="Enter Minimum Order Value" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Delivery Charges</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="deliveryCost" placeholder="Enter Delivery Charges" required>
          </div>


          <button type="submit" class="btn" style="background-color: #e40046;color:white">Update</button>

    </form>
</div>
<div class="col-lg-4">
    <table class="table table-bordered">
      <thead>
      <tr>
        <!-- <th></th> -->
        <!-- <th></th> -->
        <!-- <th> ID</th> -->
        <th>Minimum Order Value</th>
        <th>Delivery Charges</th>


      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="deliveryCost in getDeliveryCost">
        <!-- <td><button class="btn btn-xs" style="background-color: #e40046;" ng-click="deleteBanner(bannerList._id)">Delete</button></td> -->
        <!-- <td><button class="btn btn-xs btn-success"ng-click="editTodayDeals(todayDealsList._id,todayDealsList.fromDate,todayDealsList.fromTime,todayDealsList.toDate,todayDealsList.toTime,todayDealsList.product._id)">Edit</button></td> -->
        <td>{{deliveryCost.minimumOrderAmount}}</td>
        <td>{{deliveryCost.deliveryOrderAmount}}</td>


        <!-- <td>{{todayDealsList.product.cat}}</td> -->
      </tr>

    </tbody>
    </table>
</div>
</div>
