<!doctype html>
<html lang="en" ng-app="RDash">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Krazy Meals</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
  <link rel="stylesheet" type="text/css" href="less/nav.less">
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
    <script  src="components/jQuery/dist/jquery.min.js"></script>
    <script  src="components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>


  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak >

    <!-- Sidebar -->
    <div id="sidebar-wrapper"  ng-show="showDashboard">
      <ul class="sidebar" style="background-color: #dedede;">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()" style="background-color: #e40046;">
            Krazy Meals
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title" ng-hide="showOrderManagement"><span>Create</span></li>
        <!-- <li class="sidebar-list">
          <a href="#/department" ng-class="{active:isActive('#/department')}"> Department <span class="menu-icon fa fa-tachometer"></span></a>
        </li> -->
        <li class="sidebar-list" ng-hide="showOrderManagement">
          <a href="#/category" ng-style="myObj" ng-class="{'active':activeCat}" ng-click="categoryHighlight()"> Category <span class="menu-icon fa fa-list-alt"></span></a>
        </li>
        <li class="sidebar-list" ng-hide="showOrderManagement">
          <a href="#/addProduct" ng-style="myObjProd" ng-class="{'active':activeProd}"  ng-click="productHighlight()"> Product <span class="menu-icon fa fa-tasks"></span></a>
        </li>
        <li class="sidebar-list" ng-hide="showOrderManagement">
          <a href="#/addTodayDeals" style="color: #22252d;" ng-style="myObjBanner" ng-class="{'active':activeBanner}" ng-click="bannerHighlight()"> Banner<span class="menu-icon fa fa-slideshare"></span></a>
        </li>
          <li class="sidebar-title" ng-hide="showOrderManagement"><span>Update/Delete</span></li>
          <li class="sidebar-list">
            <a href="#/updateCategory" ng-hide="showOrderManagement" style="color: #22252d;" ng-style="myUpdateCat" ng-class="{'active':activeUpdateCat}" ng-click="updateCategoryHighlight()">Update Category <span class="menu-icon fa fa-list-alt"></span></a>
          </li>
          <li class="sidebar-list">
            <a href="#/updateProduct" ng-hide="showOrderManagement" style="color: #22252d;" ng-style="myUpdateProd" ng-class="{'active':activeUpdateProd}" ng-click="updateProductHighlight()">Update Product <span class="menu-icon fa fa-tasks"></span></a>
          </li>
          <li class="sidebar-list">
            <a href="#/UpdateTodayDeal" ng-hide="showOrderManagement" style="color: #22252d;" ng-style="myUpdateBan" ng-class="{'active':activeUpdateBan}" ng-click="updateBannerHighlight()">Update Banner<span class="menu-icon fa fa-slideshare"></span></a>
          </li>
          <li class="sidebar-title" ><span>Order Details</span></li>
          <li class="sidebar-list">
            <a  href="#/orderManagement" style="color: #22252d;" ng-style="myUpdateOrder" ng-class="{'active':activeUpdateOrder}" ng-click="updateOrderHighlight()">Order Management <span class="menu-icon fa fa-list-ol"></span></a>
          </li>
          <li class="sidebar-title" ng-hide="showOrderManagement"><span>User Details</span></li>
          <li class="sidebar-list" ng-hide="showOrderManagement" ng-style="myUpdateUser" ng-class="{'active':activeUpdateUser}" ng-click="updateUserHighlight()">
            <a href="#/userDetails" style="color: #22252d;">User Management <span class="menu-icon fa fa-user"></span></a>
          </li>
      </ul>
      <div class="sidebar-footer" style="background-color: #e40046;">
        <div class="col-xs-4">
          <a href="" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="" target="_blank">
            Support
          </a>
        </div>
        <div class="col-xs-4" style="cursor:pointer;">
          <a  ng-click="logout()">
            LogOut
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header"  ng-show="showDashboard">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">

                  <li class="link" >
                    <a ng-click="logout">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
              <!-- <div class="item dropdown" uib-dropdown>
               <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div> -->
            </div>
            <div class="meta">
              <div class="page">
                Dashboard
              </div>
              <div class="breadcrumb-links">
                <!-- Home / Dashboard -->
              </div>
              <div class="" ng-show="showToastMessage" style="display: flex;justify-content: flex-end;">
                <button type="button" class="btn btn-lg btn-success">Successfully Updated!!</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
